* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --center-div-width: 15rem;
    --center-div-height: 15rem;
    --span-width: 5rem;
    --span-height: 5rem;
    --main-bg: hsl(206, 21%, 94%);
    --span-bg: #1e272e;
    --shadow:
        0 0.28rem 0.22rem rgba(0, 0, 0, 0.034),
        0 0.67rem 0.53rem rgba(0, 0, 0, 0.048),
        0 1.25rem 1rem rgba(0, 0, 0, 0.06),
        0 2.23rem 1.79rem rgba(0, 0, 0, 0.072),
        0 4.18rem 3.34rem rgba(0, 0, 0, 0.086),
        0 10rem 8rem rgba(0, 0, 0, 0.12);
}

html {
    font-size: 62.5%;
}

.main-div {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background: var(--main-bg);
}

.center-div {
    width: var(--center-div-width);
    height: var(--center-div-width);
    position: relative;
}

span {
    position: absolute;
    left: 0;
    top: 0;
    width: var(--span-width);
    height: var(--span-height);
    background-color: var(--span-bg);
    box-shadow: var(--shadow);
    animation: load 2s linear infinite;
}

span:nth-child(2) {
    animation-delay: 0.67s;
}

span:last-child {
    animation-delay: 1.32s;
}

@keyframes load {
    0% {
        top: 0;
        left 0;
    }
    
    12.5% {
        top: 0;
        left: 50%;
    }

    25% {
        top: 0;
        left: 50%;
    }

    37.5% {
        top: 50%;
        left: 50%;
    }

    50% {
        top: 50%;
        left: 50%;
    }

    62.5% {
        left: 0;
        top: 50%;
    }

    75% {
        left: 0;
        top: 50%;
    }

    87.5% {
        top: 0;
        left: 0;
    }

    100% {
        top: 0;
        left: 0;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 55%;
    }
}

@media screen and (max-width: 540px) {
    html {
        font-size: 40%;
    }
}

@media screen and (max-width: 375px) {
    html {
        font-size: 30%;
    }
}

